.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 24px;
    padding: 21px;
}

.qr-code-image {
    height: 340px;
    width: 340px;
    border-radius: 14px;
}

.qr-body {
    width: 300px;
    text-align: center;
}

.qr-title {
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.822);
    margin-top: 24px;
    margin-bottom: 20px;
}

.qr-description {
    font-weight: 500;
    color:rgba(0, 0, 0, 0.445);
    margin-bottom: 26px;
}